<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world! hye</title>
  </head>
  <body>
    <h1>Electron Application</h1>
    <button id='additem' >AddItem</button>


    <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Quantity</th>
            <th class="text-center">Product ID</th>
            <th class="text-center">Product Name</th>
            <th class="text-center">Product Price</th>
            <th class="text-center">Total</th>
            <th class="text-center">Net Total</th>
            <th class="text-center">Remove</th>
          </tr>
        </thead>
        <tbody id="table_body">
          <tr id="row1">
            <td class="pt-3-half quantity" contenteditable="true" id="quantity"></td>
            <td class="pt-3-half productid" contenteditable="true" id="productid" ></td>
            <td class="pt-3-half productname" contenteditable="true" id="productname"></td>
            <td class="pt-3-half productprice" contenteditable="true" id="productprice"></td>
            <td class="pt-3-half total" contenteditable="true" id="total"></td>></td>
            <td class="pt-3-half nettotal" contenteditable="true" id="nettotal"></td>></td>
            <!-- <td class="pt-3-half">
              <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                    aria-hidden="true"></i></a></span>
              <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                    aria-hidden="true"></i></a></span>
            </td> -->
            <td>
              <span class="table-remove" ><button type="button" 
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
            </tr>

          
        

          <!-- <tr>
            <td class="pt-3-half quantity" contenteditable="true" id="quantity"></td>
            <td class="pt-3-half productid" contenteditable="true" id="productid" ></td>
            <td class="pt-3-half productname" contenteditable="true" id="productname"></td>
            <td class="pt-3-half productprice" contenteditable="true" id="productprice"></td>
            <td class="pt-3-half total" contenteditable="true" id="total"></td>></td>
            <td class="pt-3-half nettotal" contenteditable="true" id="nettotal"></td>></td> -->
            <!-- <td class="pt-3-half">
              <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                    aria-hidden="true"></i></a></span>
              <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                    aria-hidden="true"></i></a></span>
            </td> -->
            <!-- <td>
              <span class="table-remove" ><button type="button" 
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr> -->
         
          <!-- This is our clonable table line hy -->
          
          
        </tbody>
        <tr id='nettotalfoot'>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2" class="total-line">Subtotal</td>
          <td class="total-value"><div id="subtotal"></div></td>
      </tr>
      </table>
      <p id="mypara">hyy</p>
      <script>
        var price_removed=0;

        $('tbody').on('click','tr',function(e){
          console.log('Down')
        })

        // $('tbody').on('click','tr',function(){
        //   // console.log($(this).hasClass('productid'))
        //   console.log($(this).find('td').hasClass('productname'))
        //   // $(this).find('td').each(function(){
        //   //   console.log($(this).hasClass('productname'))
        //   // })
        //   // console.log($(this))
          
        //   $(this).find('td').each(function(){
        //     $(this).each(function(){
        //       // console.log(this)
        //       $(this).find('.productname').text()
        //       $(this).removeClass('productid')
        //       $(this).removeClass('productprice')
        //       console.log('PN',$(this).text())

        //     })
        //   })

        //   // $(this).removeClass
        //   // console.log('clicked',$(this).hasClass('dataadded'))
        //   // if ('clicked',$(this).hasClass('productid') ==false){
        //   //   $('#productname').addClass('productid')
        //   //   console.log('Adding')
          
        //   // if('clicked',$('tbody td').hasClass('productname')){var i;}
        //   // else{
        //   // $('#productname').addClass('productname')}
        // })

        var nettotal=0;
        $('tbody').on('keydown','.productid',function(e){
            console.log(e.code)
            var productId;
            var productName;
            var productPrice;
            var Quantity;
            var total;
            
            var url = "http://localhost:3000/product"
            if (e.code=="Tab" || e.code=="Enter"){
                productId = ($(this).text())
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                // console.log(newTr)
                var json = JSON.parse(this.responseText)[0];
                // console.log('json',json)
                productName = json.product_name
                productPrice = json.product_price
                var Quantity = $('.quantity').text()
                console.log('Quantity log', $(this).text(), Quantity)
                if (Quantity==0 || Quantity<0){
                    console.log("IF")
                total = 1* productPrice}
                else{
                    console.log("ELSE")
                total = Quantity*productPrice
                }
                // console.log(Quantity)
                $('.productname').text(productName)
                $('.productprice').text(productPrice)
                $('.total').text(total)
                console.log("total 1",total)
                console.log("nettotal 1",nettotal)
                console.log("price_removed",price_removed)
                nettotal= nettotal + total
                console.log("total 2",total)
                console.log("nettotal 2",nettotal)
                $('.total-value').text(nettotal)
                price_removed = 0
                total = 0
                // $('.nettotal').text(nettotal)

                // console.log('nettotal',nettotal)  
                                        
            }
                };
                url = url+'?id='+productId
                console.log(url)
                xhttp.open("GET", url , true);
                xhttp.send();
                
                

            }
            
            Quantity=1
            
            
            // alert("hyy")
        }) 

        
        // Button to add new rows in the table 

        // function AddItem(){
        var rowcount = 1
        $(document).ready(function(){
          
        var a = $('#table_body').html()
        $('#additem').on('click',function(){
            lastrowcheck = '#row'+rowcount
            console.log('row check',$('#row1').find('#productid').text())

            // This if statement tests if the last row is filled or not before adding new row
            
            if('row check',$(lastrowcheck).find('#productid').text()==''){
              console.log("Please Fill the current row first")
            }
            else{
            rowcount=rowcount+1
            $(".quantity").removeAttr('contenteditable')
            $(".productname").removeAttr('contenteditable')
            $(".productprice").removeAttr('contenteditable')
            $(".productid").removeAttr('contenteditable')
            $(".total").removeAttr('contenteditable')

            $(".quantity").toggleClass('quantity')
            $(".productname").toggleClass('productname')
            $(".productid").toggleClass('productid')  
            $(".productprice").toggleClass('productprice') 
            $(".total").toggleClass('total')
            // $(".nettotal").toggleClass('nettotal')  
            
          // $(".productname").removeClass('productname') 
            
            // console.log('TB:',a)
            // console.log(newRow(rowcount))
            // $('#table_body').append(newTr)
            $('#table_body').append(newRow(rowcount))
            

            console.log('rowcount inside',rowcount)
            }

            })            
        })
        // }

        // Button to remove rows from the table
        

        $(document).ready(function(){
          $('tbody').on('click','.table-remove',function(){
            console.log("This var ",$(this).closest('tr td'))

            $(this).closest('tr').each(function(){
              var t = Array($(this).text())
              
              console.log('Data',$(this).find('#total').text())
              price_removed = $(this).find('#total').text()
              nettotal = nettotal - price_removed
              var subtotal = $('.total-value').text()
              console.log('net total before price removed',subtotal)
              subtotal = subtotal - price_removed
              $('.total-value').text(subtotal)
              console.log('remove',price_removed)
              console.log('net total after price removed',subtotal)
              // nettotal-price_removed
              // $('.nettotal').text(nettotal-price_removed)a
            })
            $(this).closest("tr").remove();
            console.log('test1')
          })
        })
        
    </script>

      <script>
        
        console.log('rowcount outside',rowcount)
          const $tableID = $('#table');
 const $BTN = $('#export-btn');
 const $EXPORT = $('#export');
function newRow(rowcount) {
 const newTr = `
 <tr id=row`+rowcount+`>
            <td class="pt-3-half quantity" contenteditable="true" id="quantity"></td>
            <td class="pt-3-half productid" contenteditable="true" id="productid" ></td>
            <td class="pt-3-half productname" contenteditable="true" id="productname"></td>
            <td class="pt-3-half productprice" contenteditable="true" id="productprice"></td>
            <td class="pt-3-half total" contenteditable="true" id="total"></td>></td>
            <td class="pt-3-half nettotal" contenteditable="true" id="nettotal"></td>></td>
            <!-- <td class="pt-3-half">
              <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                    aria-hidden="true"></i></a></span>
              <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                    aria-hidden="true"></i></a></span>
            </td> -->
            <td>
              <span class="table-remove" ><button type="button" 
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>
 `;
 return newTr
        }
//  $('.table-add').on('click', 'i', () => {

//    const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

//    if ($tableID.find('tbody tr').length === 0) {

//      $('tbody').append(newTr);
//    }

//    $tableID.find('table').append($clone);
//  });

//  $tableID.on('click', '.table-remove', function () {

//    $(this).parents('tr').detach();
//  });

//  $tableID.on('click', '.table-up', function () {

//    const $row = $(this).parents('tr');

//    if ($row.index() === 1) {
//      return;
//    }

//    $row.prev().before($row.get(0));
//  });

//  $tableID.on('click', '.table-down', function () {

//    const $row = $(this).parents('tr');
//    $row.next().after($row.get(0));
//  });

//  // A few jQuery helpers for exporting only
//  jQuery.fn.pop = [].pop;
//  jQuery.fn.shift = [].shift;

//  $BTN.on('click', () => {

//    const $rows = $tableID.find('tr:not(:hidden)');
//    const headers = [];
//    const data = [];

//    // Get the headers (add special header logic here)
//    $($rows.shift()).find('th:not(:empty)').each(function () {

//      headers.push($(this).text().toLowerCase());
//    });

//    // Turn all existing rows into a loopable array
//    $rows.each(function () {
//      const $td = $(this).find('td');
//      const h = {};

//      // Use the headers from earlier to name our hash keys
//      headers.forEach((header, i) => {

//        h[header] = $td.eq(i).text();
//      });

//      data.push(h);
//    });

//    // Output the result
//    $EXPORT.text(JSON.stringify(data));
//  });
      </script>
      
    </body>

</html>